body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: linear-gradient(orange, rgb(111, 29, 29));

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.form-box {
    width: 380px;
    background: black;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);

}


h1 {
    text-align: center;
    margin-bottom: 30px;
}


.form-box h1 {
    color: orange;
}


.form-box h1.create-title {
    color: yellow;
}


label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    color: white;
}


input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: lightgray;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border: none;
    border-radius: 6px;
    background: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: darkorange;
}


.link-text {
    text-align: center;
    margin-top: 15px;
    color: white;
}

.link-text a {
    color: orange;
    text-decoration: none;

}

.link-text a:hover {
    text-decoration: underline;
}